In [2]:
import pandas as pd

In [3]:
d0 = pd.read_csv(r"mobilitygroup_48201_2019_year.csv")
d0 = pd.DataFrame(d0)
d0.rename(columns={'newdate':'Date'},inplace=True)
print(d0)

              Date      geoid_o  pop_flows
0       2019-01-01  48201100000     7411.0
1       2019-01-01  48201210100     9450.0
2       2019-01-01  48201210400     7911.0
3       2019-01-01  48201210500     9044.0
4       2019-01-01  48201210600     8446.0
...            ...          ...        ...
285851  2019-12-31  48201555701    22473.0
285852  2019-12-31  48201555702    28002.0
285853  2019-12-31  48201556000    20631.0
285854  2019-12-31  48201980000        5.0
285855  2019-12-31  48201980100     1545.0

[285856 rows x 3 columns]

In [4]:
#筛选出某一类型的极端气候数据
df = pd.read_csv(r"extremeT_48201_2019_type.csv", usecols=['Date','type'])
print(df)

       type        Date
0      Tmin  2019-01-01
1    Normal  2019-01-02
2      Tmin  2019-01-03
3      Tmin  2019-01-04
4      Tmin  2019-01-05
..      ...         ...
360  Normal  2019-12-27
361  Normal  2019-12-28
362  Normal  2019-12-29
363    Tmin  2019-12-30
364    Tmin  2019-12-31

[365 rows x 2 columns]

In [5]:
#给mobility全年附上气候类型
mf = pd.merge(d0,df,how='left')

In [71]:
#按月筛选
m1 = mf[mf['Date'].str.contains('2019-12')]

In [72]:
print(m1)

              Date      geoid_o  pop_flows    type
262499  2019-12-01  48201100000     8053.0  Normal
262500  2019-12-01  48201210100    10155.0  Normal
262501  2019-12-01  48201210400     9035.0  Normal
262502  2019-12-01  48201210500    12937.0  Normal
262503  2019-12-01  48201210600    12055.0  Normal
...            ...          ...        ...     ...
285851  2019-12-31  48201555701    22473.0    Tmin
285852  2019-12-31  48201555702    28002.0    Tmin
285853  2019-12-31  48201556000    20631.0    Tmin
285854  2019-12-31  48201980000        5.0    Tmin
285855  2019-12-31  48201980100     1545.0    Tmin

[23357 rows x 4 columns]

In [73]:
#根据天气类型来求1月各CTs的人口通量mean
m2=m1.groupby(['geoid_o','type']).mean()

In [74]:
print(m2)

                       pop_flows
geoid_o     type
48201100000 Normal   7687.450000
            Tmin     8837.111111
48201210100 Normal  11133.666667
            Tmin    12200.333333
48201210400 Normal   9683.904762
...                          ...
48201556000 Tmin    22381.666667
48201980000 Normal      4.952381
            Tmin        6.000000
48201980100 Normal   1374.904762
            Tmin     1576.888889

[1572 rows x 1 columns]

In [75]:
#拆分表格
m2.to_csv('extremeT_48201_2019_type_12.csv')

In [13]:
#求1月各CTs的极端气候与正常气候的人口通量mean的百分比
m3 = pd.concat([m2, pd.DataFrame(columns=['percent'])])

In [6]:
d2 = d1[d1['type'] == 'Tmax']
print(d2)

     type        Date
159  Tmax  2019-06-09
170  Tmax  2019-06-20
189  Tmax  2019-07-09
190  Tmax  2019-07-10
191  Tmax  2019-07-11
192  Tmax  2019-07-12
200  Tmax  2019-07-20
209  Tmax  2019-07-29
210  Tmax  2019-07-30
211  Tmax  2019-07-31
212  Tmax  2019-08-01
213  Tmax  2019-08-02
218  Tmax  2019-08-07
219  Tmax  2019-08-08
220  Tmax  2019-08-09
221  Tmax  2019-08-10
222  Tmax  2019-08-11
223  Tmax  2019-08-12
224  Tmax  2019-08-13
225  Tmax  2019-08-14
226  Tmax  2019-08-15
227  Tmax  2019-08-16
228  Tmax  2019-08-17
229  Tmax  2019-08-18
230  Tmax  2019-08-19
231  Tmax  2019-08-20
243  Tmax  2019-09-01
244  Tmax  2019-09-02
246  Tmax  2019-09-04
247  Tmax  2019-09-05
248  Tmax  2019-09-06
249  Tmax  2019-09-07
250  Tmax  2019-09-08
251  Tmax  2019-09-09
255  Tmax  2019-09-13
256  Tmax  2019-09-14
257  Tmax  2019-09-15

In [64]:
#isin一种方法不是匹配，而是等于后面列表中的值，要注意区别
d3 = d0[d0['newdate'].isin(d2['Date'])]
print(d3)

           newdate      geoid_o  pop_flows
1572    2019-01-03  48201100000     7381.0
1573    2019-01-03  48201210100     9051.0
1574    2019-01-03  48201210400     9213.0
1575    2019-01-03  48201210500     9623.0
1576    2019-01-03  48201210600    10295.0
...            ...          ...        ...
285851  2019-12-31  48201555701    22473.0
285852  2019-12-31  48201555702    28002.0
285853  2019-12-31  48201556000    20631.0
285854  2019-12-31  48201980000        5.0
285855  2019-12-31  48201980100     1545.0

[26724 rows x 3 columns]

In [65]:
d4=d3.groupby(['geoid_o']).mean()
print(d4)

                pop_flows
geoid_o
48201100000   7840.235294
48201210100   9642.500000
48201210400   9873.823529
48201210500  12256.764706
48201210600  12958.294118
...                   ...
48201555701  22354.117647
48201555702  29051.058824
48201556000  18781.470588
48201980000      5.000000
48201980100   1482.441176

[786 rows x 1 columns]

In [66]:
d4.to_csv('mobility_48201_2019_WBGTmin.csv')